@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Red-500: hsl(10, 79%, 65%);
    --Blue-300: hsl(186, 34%, 65%);
    --Brown-950: hsl(25, 47%, 15%);
    --Brown-400: hsl(28, 10%, 53%);
    --Red-100: hsl(26, 66%, 93%);
}

body {
    height: 100vh;
    font-family: "DM Sans", sans-serif;
    background-color: var(--Red-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    background-color: var(--Red-100);
}

.top {
    color: #fff;
    background-color: var(--Red-500);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1rem;
}

.top h1 {
    font-weight: 400;
    font-size: 18px;
}

.top p {
    font-weight: 700;
    font-size: 1.8rem;
}

.main {
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 1rem;
}

.main h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.chart {
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid var(--Red-100);
}

.day {
    width: 10%;
    color: var(--Brown-400);
}

.red-bar {
    background-color: var(--Red-500);
    border-radius: 5px;
}

.bar {
    width: 100%;
}

.bar3 {
    background-color: var(--Blue-300);
    border-radius: 5px;
}

.chart {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    position: relative;
}

.price {
    display: flex;
    justify-self: center;
}

.price1,
.price2,
.price3,
.price4,
.price5,
.price6,
.price7 {
    width: 60px;
    height: 20px;
    background-color: var(--Brown-950);
    color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    display: none;
}

h2,
.per p {
    color: var(--Brown-400);
    font-size: 18px;
    font-weight: 400;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.month {
    font-weight: 700;
}

.month p {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    text-align: right;
}

@media (min-width: 768px) {
    .container {
        width: 400px;
    }
}